.window {
    height: 100vh;
    width: 100%;
    background-image: url('assets/background1.jpg');
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    padding: 3%;
}

.footer {
    background-color: gray;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1%;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.box {
    margin: 3% auto;
    width: 100%;
    background-color: rgba(46, 49, 49, 0.7);
    text-align: center;
    color: white;
    height: 30%;
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight:normal;
    font-style: italic;
    font-size: 30px;
}

.box-biography {
  width: 100%;
}

.text-box {
  color: white;
  padding: 7%;
  font-family: 'Zen Kurenaido', sans-serif;
  line-height: 1.5rem;
  font-size: 20px;
  text-align: right;
  background-color:darkslategray; 
}

.logo-bring {
  background-color: white;
  justify-content: center;
  text-align: center;
}

#logo-company {
  width: 15%;
}

.row-projects {
  background-color: #fd7c84;
  justify-content: center;
}

.projects-box {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 0px;
}

.project-thumbnails {
  width: 200px;
  height: 100%;
  border-radius: 3%;
}

.project-box {
  border: 2px dashed gray;
  margin: 2%;
  padding: 0.5%;
}

/* BUTTON */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

.boxTwo {
    margin: auto;
    position: absolute;
    bottom: 50px;
    background-color: rgba(46, 49, 49, 0.7);
    width: 100px;
    height: 100px;
    left: 50%;
    border-radius: 50%;
}

.demo a {
  position: absolute;
  left:50%;
  bottom: -18px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-family : 'Playfair Display', serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}